.cardScroller{
    overflow-x: scroll;
    margin-top: 10px;  
    margin-bottom: 10px; 
}
.people{
    width: 280px;
    justify-content: space-between;
}
.planet{
    width: 280px;
    justify-content: space-between;
}
.pic{
    width: 250px;
    height: 300px;  
}
.like{
    margin-left: 13px;
    background-color: white;
    color: black;
    border-color: black;
}
.like:hover{
    background-color: black;
}

